/* ----- BASE STYLES ----- */

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
/*  color: #fafafa;*/
}

h1 {
  font-weight: 900;
  color: #fafafa;
}

h1 span {
  font-weight: 100;
}

label {
  display: none;
}



/* ----- HEADER STYLES ----- */

.main-header {
  background-color: #7479bd;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fafafa;
}

.main-header h1 {
  font-size: 24px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.user p {
  padding-left: 10px;
}

.user-name {
  display: flex;
  align-items: center;
  border-left: 1px solid #fafafa;
  height: 35px;
  padding-left: 10px;
}

.user-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.bell {
  width: 20px;
  height: 20px;
  padding: 0 10px 0 0;
  margin: 0;
}



/* ----- NAV BAR STYLES ----- */

.side-nav {
  background-color: #4d4d71;
  display: flex;
  justify-content: space-around;
}

.side-nav a {
  padding: 15px;
}

.side-nav a:first-of-type {
  border-bottom: 5px solid #83c891;
}

.side-nav svg {
  width: 25px;
  height: 25px;
}



/* ----- SEARCH STYLES ----- */

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #fbfbfb;
}

#main-search {
  height: 25px;
  width: 80%;
  margin: 0 auto;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #d0d0d0;
}



/* ----- ALERT STYLES ----- */

.alert {
  background-color: #7479bd;
  font-weight: 100;
  width: 90%;
  margin: 10px auto;
  border-radius: 5px;
  color: #fafafa;
  font-size: 14px;
  display: none;
}

.alert p {
  padding: 10px;
}

.alert span {
  font-weight: 700;
}



/* ----- DASHBOARD STYLES ----- */

.dashboard {
  color: #909090;
  margin: 10px auto 0;
  width: 95%;
}

.dashboard h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.dashboard ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}



/* ---- TRAFFIC STYLES ----- */

.traffic {
  margin-top: 15px;
}

.traffic-label {
  display: flex;
  justify-content: space-between;
}

.traffic-label h3 {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.traffic-label ul {
  display: flex;
}

.traffic-label a {
  display: block;
  cursor: pointer;
  padding: 5px 10px;
}

.traffic-label li {
  margin-left: 5px;
}

.active {
  background-color: #83c891;
  color: #fafafa;
  border-radius: 15px;
}

.trafficChart-container {
  position: relative;
  margin: 25px auto 0;
  width: 90%;
  max-width: 900px;
  height: 90%;
  max-height: 700px;
}



/* ----- DAILY TRAFFIC STYLES -----*/

.daily-traffic {
  margin-top: 15px;
  border-top: 1px solid #e0e0e0;
  padding-top: 15px;
}

.dailyTrafficChart-container {
  position: relative;
  margin: 25px auto 0;
  width: 90%;
}



/* ----- MOBILE USERS STYLES ----- */

.mobile-users {
  margin-top: 15px;
  border-top: 1px solid #e0e0e0;
  padding-top: 15px;
}

.mobileUsersChart-container {
  position: relative;
  width: 90%;
  margin: 25px auto 0;
}



/* ----- SOCIAL STATS STYLES ----- */

.social-stats {
  margin-top: 15px;
  border-top: 1px solid #e0e0e0;
  padding-top: 15px;
}

.svg-container {
  background-color: #7479bd;
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.svg-container svg {
  display: block;
  margin: 0 auto;
  padding-top: 35px;
  width: 60px;
}

.twitter,
.facebook,
.google-plus {
  width: 95%;
  background-color: #fbfbfb;
  border: 1px solid #e0e0e0;
  margin: 15px auto 0;
  padding: 10px;
  display: flex;
}

.site-stats {
  margin-left: 15px;
  margin-top: 15px;
}

.site-stats h4 {
  color: #7479bd;
  font-size: 18px;
}

.site-stats p {
  color: #7f7f7f;
  font-size: 60px;
  font-weight: 300;
}



/* ----- GENERAL MEMBER STYLES ----- */

.member {
  display: flex;
  margin: 15px auto;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
  background-color: #fbfbfb;
  padding: 10px;
  border: 1px solid #e0e0e0;
}

.member-info {
  display: flex;
}

.member-contact {
  padding-left: 10px;
}



/* ----- NEW MEMBERS STYLES ----- */

.new-members {
  margin: 15px auto;
  padding-top: 15px;
  border-top: 1px solid #e0e0e0;
}



/* ----- RECENT ACTIVITY STYLES ----- */

.recent-activity {
  margin: 15px auto;
  padding-top: 15px;
  border-top: 1px solid #e0e0e0;
}

.member-activity p {
  font-size: 32px;
}



/* ----- MESSAGE USER STYLES ----- */

.message-user {
  margin: 15px auto;
  padding-top: 15px;
  border-top: 1px solid #e0e0e0;
}

.message-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.message-form > * {
  margin-top: 5px;
}

#user-search {
  outline: none;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #fbfbfb;
  padding: 5px;
  font-style: italic;
}

#message {
  outline: none;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #fbfbfb;
  padding: 5px;
  font-style: italic;
}

#send {
  background-color: #7479bd;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}



/* ----- SETTINGS STYLES ----- */

.settings {
  margin: 15px auto;
  padding-top: 15px;
  border-top: 1px solid #e0e0e0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider::before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  transition: .4s;
}

input:checked + .slider {
  background-color: #7479bd;
}

input:focus + .slider {
  box-shadow: 0 0 1px #7479bd;
}

input:checked + .slider::before {
  transform: translateX(40px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.settings form {
  width: 100%;
}

select{
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  background: url('../web_app_dashboard_v2/icons/icons8-expand-arrow-50.png') no-repeat;
  background-color: #fbfbfb;
  background-size: 20px;
  background-position: 97% 10px;
  color: #a0a0a0;
}

.option {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.buttons {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.buttons input {
  width: 49%;
}

#save {
  background-color: #7479bd;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

#cancel {
  background-color: #ccc;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}



/* ----- MEDIA QUERIES ----- */

@media (min-width: 768px) {
  .side-nav {
    justify-content: flex-end;
  }
  
  .side-nav a {
    margin: 0 5px;
  }
  
  .dashboard {
    position: relative;
    padding-top: 5px;
  }
  
  .search {
    position: absolute;
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    width: 80%;
    right: 0px;
    top: 123px;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  #main-search {
    margin: 0 15px;
    align-self: center;
  }
  
  .traffic {
    margin-top: 20px;
  }
}